
.primary-button-main {
    .mat-button-container {
        position: relative;
    }

    mat-progress-bar {
        position: absolute;
    }

    mat-hint {
        display: block;
        padding-top: 5px;
        font-size: 10px;
    }

    button {
        width: 100%;
    }
}