
.product-spec-page-main {
    width: 100%;
 
    .product-spec-view {
       padding-top: 25px;
    }

    .elements-grid-container {
        padding-top: 25px;
        max-width: 1625px;
        margin: 0 auto;
    }
}
 