@import './src/assets/config/colors.scss';

.crumb-main {
    display: block;

    .active-crumb {
        cursor: pointer;
        color: $color-info;
       
        .crumb-name:hover {
            text-decoration: underline;
        }
    }

    .disabled-crumb {
        cursor: not-allowed;
        color: $color-office;
        
        .crumb-name {
            opacity: 0.6;
        }
    }

    .crumb-element {
        display: flex;
        align-items: center;
    }

    .crumb-seperator {
        color: $color-black;
    }

    span {
        font-family: assistant-bold;
        padding: 0px 2px;
    }

    spinner {
        margin: 0px 2px;
    }
}