
.primary-button-main {
  .mat-button-container {
    position: relative;
  }

  button {
    width: 100%;
  }

  mat-progress-bar {
    position: absolute;
  }

  mat-hint {
    display: block;
    font-size: 10px;
    margin-top: 5px;
  }
}