@import './src/assets/config/colors.scss';

.primary-button-main {
    .mat-button-container {
        position: relative;
    }

    mat-progress-bar {
        position: absolute;
    }

    mat-hint {
        display: block;
        font-size: 10px;
        margin-top: 5px;
    }

    button {
        width: 100%;
    }
}