@import './src/assets/config/utils.scss';

.crumbs-navbar-main {
  position: relative;
  width: 100%;
  background-color: $color-base;

  .breadcrumbs-container {
    width: 100%;
    padding: 2px 7px 7px 7px;
    border-top: 1px solid $color-royalblue;
  }
}