@import './src/assets/config/colors.scss';

.product-header-main {
    img {
        display: block;
        width: 285px;
        margin: 0 auto;
        border-radius: 50%;
    }

    h1 {
        margin: 25px 0px 5px 0px;
        font-family: assistant-bold;
        color: $color-info;
        text-align: center;
    }

    p {
        max-width: 500px;
        margin: 0 auto; 
        text-align: center;
    }
}