@import './src/assets/config/colors.scss';

.product-header-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        display: block;
        width: 285px;
        border-radius: 50%;
    }

    h1 {
        margin: 25px 0px 5px 0px;
        font-family: assistant-bold;
        color: $color-info;
    }

    p {
        max-width: 325px;
    }
}