
<div class="login-form-main">
  <form #form="ngForm" (ngSubmit)="form.valid && onsubmit.emit(login)" novalidate>
    <inputs-container>
      <input-field [gap]="25">
        <input-text
          [control]="username.control"
          [placeholder]="'Enter Your Username'"
          [validation]="{ default: 'Required field' }"
          [required]="true"
          [ngModel]="login.username"
          (onchange)="login.username=$event"
          #username="ngModel"
          id="username"
          name="username"
          pattern="[a-zA-Z ]*"
          minlength="5"
          maxlength="12"
          ngDefaultControl>
        </input-text>
      </input-field>

      <input-field [gap]="25">
        <input-text 
          [control]="email.control"
          [placeholder]="'Enter Your Email'"
          [validation]="{ default: 'Required field' }"
          [required]="true"
          [ngModel]="login.email"
          (onchange)="login.email=$event"
          #email="ngModel"
          id="email"
          name="email"
          ngDefaultControl
          email>
        </input-text>
      </input-field>
    </inputs-container>
  
    <inputs-container>
      <input-field [gap]="25">
        <input-password
          [control]="password.control"
          [placeholder]="'Enter Your Password'"
          [validation]="{ default: 'Required field' }"
          [required]="true"
          [ngModel]="login.password"
          (onchange)="login.password=$event"
          #password="ngModel"
          id="password"
          name="password"
          ngDefaultControl
          password>
        </input-password>
      </input-field>
    </inputs-container>
    
    <inputs-container>
      <input-field [gap]="5">
        <input-checkbox
          [control]="rememberme.control"
          [value]="login.rememberMe"
          [placeholder]="'Remember me'"
          [required]="true"
          [ngModel]="login.rememberMe"
          (onchange)="login.rememberMe=$event"
          #rememberme="ngModel"
          id="rememberme"
          name="rememberme"
          ngDefaultControl>
        </input-checkbox>
      </input-field>
    </inputs-container>

    <inputs-container>
      <input-field [gap]="25">
        <primary-button
          [placeholder]="'Take Me In!'"
          [dosubmit]="true"
          [readonly]="loading"
          [pending]="loading">
        </primary-button>
      </input-field>
    </inputs-container>

    <inputs-container>
      <input-field [gap]="10">
        <div class="registration-link">
          <a [routerLink]="['/auth/registration']">
            Don't have an account? Register now!
          </a> 
        </div>
      </input-field>
    </inputs-container>
  </form>
</div>