
<div class="root-layout-main" [style.position]="forRoot ? 'absolute' : 'static'">
    <div class="layout-top">
        <div class="primary-navbar-container">
            <ng-content select="primary-navbar"></ng-content>
        </div>

        <div class="secondary-navbar-container">
            <ng-content select="secondary-navbar"></ng-content>
        </div>

        <div class="sub-navbar-container">
            <ng-content select="sub-navbar"></ng-content>
        </div>
    </div>

    <div class="layout-body">
        <div class="side-navbar-container">
            <ng-content select="side-navbar"></ng-content>
        </div>

        <div class="inner-content-container">
            <ng-content></ng-content>
        </div>
    </div>
</div>
