@import './src/assets/config/colors.scss';

.breadcrumbs-main {
    width: 100%;

    .crubms-list {
        display: flex;
        margin: 0px -2px;
    }

    .crumb-item {
        span {
            font-family: assistant-bold;
            padding: 0px 2px;
        }
    }

    .to-upper-case {
        text-transform: uppercase;
    }

    .to-lower-case {
        text-transform: lowercase;
    }
}