@import './src/assets/config/colors.scss';

.breadcrumbs-main {
    width: 100%;

    .crubms-list {
        display: flex;
        margin: 0px -2px;
    }

    .crumb-item {
        span {
            font-family: assistant-bold;
            padding: 0px 2px;
        }
    }

    .active-crumb {
        color: $color-info;
        cursor: pointer;
        
        .crumb-name:hover {
            text-decoration: underline;
        }
    }

    .disabled-crumb {
        color: $color-office;
        cursor: not-allowed;

        .crumb-name {
            opacity: 0.6;
        }
    }

    .crumb-seperator {
        color: $color-black;
    }

    .to-upper-case {
        text-transform: uppercase;
    }

    .to-lower-case {
        text-transform: lowercase;
    }
}