@import './src/assets/config/utils.scss';

.modal-main {
  position: relative;
  
  .mat-typography {
    @media screen and (min-width: $breakpoint-sm) {
      min-width: 500px;
    }
  }

  h2, h3 {
    margin: 0px;
  }

  &.success {
    border-left: 5px solid $color-success;

    h2 { 
      color: $color-success;
    }
  }
   
  &.failure {
    border-left: 5px solid $color-error;

    h2 { 
      color: $color-error;
    } 
  }
  
  &.info {
    border-left: 5px solid $color-base;

    h2 { 
      color: $color-base;
    }  
  }
  
  &.warning {
    border-left: 5px solid $color-warning;
    
    h2 { 
      color: $color-warning; 
    }  
  }

  &.blank {
    h2 { 
      color: $color-black;
    }
  }
}