
<page-layout>
  <div class="brands-page-main">
    <ng-container #subscriber="subscriber"
      [rxSubscriber]="brands$"
    >
      <elements-grid *ngIf="!subscriber.inProcess; else loader"
        [elementMinSizePx]="215"
      >
        <brand-card *ngFor="let brand of (subscriber.data | filterEntities : keyword) | highlightTitles : keyword as brands"
          [brand]="brand"
          (update)="update($event)"> 
        </brand-card>
      </elements-grid>

      <ng-template #loader>
        <page-loader></page-loader>
      </ng-template>
    </ng-container>
  </div>

  <router-outlet></router-outlet>
</page-layout>
