
<page-layout>
    <div class="brnads-page-main">
        <div class="brands-page-content">
            <ng-container #resolver="resolver"
                [rxResolver]="brands$"
            >
                <elements-grid [elementMinSizePx]="255" [loader]="resolver.inProcess">
                    <brand-card *ngFor="let brand of resolver.data as brands"
                        [brand]="brand"> 
                    </brand-card>
                </elements-grid>
            </ng-container>
        </div>
    </div>
</page-layout>