
<page-layout>
    <div class="brnads-page-main">
        <ng-container #resolver="resolver" #loader="loader" loader
            [rxResolver]="brands$"
            (start)="loader.show()"
            (done)="loader.hide()"
        >
            <elements-grid [elementMinSizePx]="255" *ngLet="resolver.data as brands">
                <brand-card *ngFor="let brand of brands"
                    [brand]="brand"> 
                </brand-card>
            </elements-grid>
        </ng-container>
    </div>
</page-layout>