
<page-layout>
  <div class="registration-page-main">
    <div class="registration-form-container shallow-shadow">
      <ng-container #subscriber="subscriber"
        [rxSubscriber]="register$"
        (subscribe)="success($event)" 
        (failed)="error($event)"
      >
        <registration-form
          [registration]="registration"
          [loading]="subscriber.inProcess"
          (onsubmit)="submit($event)">
        </registration-form>
      </ng-container>
    </div>
  </div>
</page-layout>