
<page-layout *ngIf="!outlet.isActivated">
    <div class="families-page-main">
        <ng-container #resolver="resolver" loader #loader="loader"
            [rxResolver]="families$"
            (start)="loader.show()"
            (done)="loader.hide()"
        >
            <elements-grid [elementMinSizePx]="255" *ngLet="resolver.data as families">
                <family-card *ngFor="let family of families"
                    [family]="family"> 
                </family-card>
            </elements-grid>
        </ng-container>
    </div>
</page-layout>

<router-outlet #outlet="outlet" 
    (deactivate)="families$=familiesService.fetchAll(this.categoryId)">
</router-outlet>