
<page-layout>
  <div class="login-page-main">
    <div class="login-form-container shallow-shadow">
      <img [src]="'ebay-b.png' | image" imageNotFound />

      <ng-container #resolver="resolver"
        [rxResolver]="login$"
        (resolved)="success($event)" 
        (failed)="error($event)"
      >
        <login-form
          [login]="login"
          [loading]="resolver.inProcess"
          (onsubmit)="submit($event)">
        </login-form>
      </ng-container>
    </div>
  </div>
</page-layout>