
<page-layout>
    <div class="login-page-main">
        <div class="login-form-container shadow-border-shallow">
            <img [src]="'../../../../favicon.ico'" />

            <ng-container #resolver="resolver"
                [rxResolver]="login$"
                (resolved)="loginSuccess($event)" 
                (failed)="loginFailed($event)"
            >
                <login-form
                    (onsubmit)="handleSubmit($event)"
                    [login]="login"
                    [loading]="resolver.inProcess">
                </login-form>
            </ng-container>
        </div>
    </div>
</page-layout>