@import './src/assets/config/colors.scss';

.login-page-main {
  width: 100%;
  
  .login-page-content {
    display: grid;
    align-items: center;
    height: 100%;
  }

  .login-form-container {
    width: 750px;
    margin: 0 auto;
    padding: 15px 30px 15px 30px;
    border-top: 5px solid $color-primary;
  }

  .login-options-container {
    display: flex;
    justify-content: space-between;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}