@import './src/assets/config/colors.scss';

.login-page-main {
  display: grid;
  align-items: center;
  width: 100%;

  .login-form-container {
    width: 750px;
    margin: 0 auto;
    padding: 15px 30px;
    border-top: 5px solid $color-primary;
  }

  img {
    display: block;
    padding-top: 15px;
    margin: 0 auto;
  }
}