@import './src/assets/config/colors.scss';
@import './src/assets/config/definitions.scss';

.login-page-main {
  display: grid;
  align-items: center;
  width: 100%;

  .login-form-container {
    margin: 0 auto;
    padding: 15px 30px;
    border-top: 5px solid $color-white;

    @media screen and (min-width: $breakpoint-sm) {
        width: 750px;
    }

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
    }
  }

  img {
    display: block;
    padding-top: 15px;
    margin: 0 auto;
  }
}