@import './src/assets/config/colors.scss';

.entity-card-main {
  width: 100%;

  .mat-card-image {
    padding: 35px;
    border-radius: 50%;
  }

  mat-card-header {
    height: 45px;
  }

  mat-card-content {
    height: 65px;
  }
}