
<div class="input-password-main" 
    [ngClass]="{
        'input-error-state': control | invalid: matcher,
        'input-disabled-state': readonly
    }">
    <div class="mat-form-field-container">
        <mat-form-field *ngIf="control">
            <mat-icon matSuffix (click)="!readonly ? (visible=!visible) : null">
                {{ visible ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            
            <input matInput
                type="{{visible ? 'text': 'password'}}"
                value="{{value}}" 
                placeholder="{{placeholder}}"
                [errorStateMatcher]="matcher"
                [formControl]="control | abstractToFormControl"
                [readonly]="readonly"
                (input)="onchange.emit($event.target.value)">
                
            <mat-hint>{{ hint }}</mat-hint>
            <mat-error>{{ validation | validation: control.errors! }}</mat-error>
        </mat-form-field>
    </div>
    
    <div class="validation-errors-list" *ngIf="control | invalid: matcher">
        <ul>
            <li *ngFor="let error of control.errors!['password']?.errors">
                {{ error.message }}
            </li>
        </ul>
    </div>
</div>