
<div class="input-text-main">
    <mat-form-field>
        <input matInput
            type="password"
            value="{{value}}" 
            placeholder="{{placeholder}}"
            [errorStateMatcher]="matcher"
            [formControl]="control"
            [readonly]="readonly"
            (input)="onchange.emit($event.target.value)">
            
        <mat-hint>{{ hint }}</mat-hint>
        <mat-error>{{ validation | validation: control.errors! }}</mat-error>
    </mat-form-field>
</div>