
<page-layout>
  <div class="products-page-main">
    <ng-container #subscriber="subscriber"
      [rxSubscriber]="products$"
    >
      <elements-grid *ngIf="!subscriber.inProcess; else loader"
        [elementMinSizePx]="215"
      >
        <product-card *ngFor="let product of (subscriber.data | filterEntities : keyword) | highlightTitles : keyword as products"
          [product]="product"
          (update)="update($event)"> 
        </product-card>
      </elements-grid>

      <ng-template #loader>
        <page-loader></page-loader>
      </ng-template>
    </ng-container>
  </div>

  <router-outlet></router-outlet>
</page-layout>


