
<div class="input-password-main" [errorState]="control" [disabledState]="readonly">
  <div class="mat-form-field-container">
    <mat-form-field>
      <mat-icon matSuffix (click)="!readonly ? (visible=!visible) : null">
        {{ visible ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      
      <input matInput
        type="{{visible ? 'text': 'password'}}"
        placeholder="{{placeholder}}"
        [errorStateMatcher]="matcher"
        [formControl]="control | abstractToFormControl"
        [readonly]="readonly"
        (input)="onchange.emit($event.target.value)">
        
      <mat-hint>{{ hint }}</mat-hint>
      <mat-error>{{ validation | validation: control.errors! }}</mat-error>
    </mat-form-field>
  </div>
  
  <div class="validation-errors-list" *ngIf="control | controlValidity">
    <ul>
      <li *ngFor="let error of control.errors!['password']?.errors">
        {{ error.message }}
      </li>
    </ul>
  </div>
</div>