
<div class="checklist-multi-main" [errorState]="control">
  <span [disabledState]="readonly">{{ placeholder }}</span>

  <div class="list-container">
    <div class="checkbox-container" *ngFor="let item of items">
      <input-checkbox
        [id]="item.id"
        [value]="isExist(item.value)"
        [placeholder]="item.placeholder!"
        [readonly]="item.readonly || readonly"
        (onchange)="toggle(item.value)">
      </input-checkbox>
    </div>
  </div>

  <div class="checklist-error" *ngIf="control | controlValidity">
    <mat-error>{{ validation | validation: control.errors! }}</mat-error>
  </div>
</div>