
<page-layout>
  <div class="categories-page-main">
    <ng-container #subscriber="subscriber"
      [rxSubscriber]="categories$"
    >
      <elements-grid *ngIf="!subscriber.inProcess; else loader"
        [elementMinSizePx]="215"
      >
        <category-card *ngFor="let category of (subscriber.data | filterEntities : keyword) | highlightTitles : keyword as categories"
          [category]="category"
          (update)="update($event)"> 
        </category-card>
      </elements-grid>

      <ng-template #loader>
        <page-loader></page-loader>
      </ng-template>
    </ng-container>
  </div>

  <router-outlet></router-outlet>
</page-layout>


