@import './src/assets/config/colors.scss';

.utils-navbar-main {
  width: 100%;
  height: 55px;
  padding: 5px 20px;
  background-color: $color-base;
  border-top: 1px solid $color-royalblue;

  .navbar-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: $color-white;
  }

  .search-box-container {
    border-radius: 15px;
  }

  .arrow-active {
    cursor: pointer;
    color: $color-white;
  }

  .arrow-disabled {
    color: rgba($color-white, 0.8);
  }

  .arrow-back-container {
    display: grid;
  }
}

