@import './src/assets/config/utils.scss';

.utils-navbar-main {
  width: 100%;
  height: 55px;
  padding: 5px 20px;
  background-color: $color-base;
  border-top: 1px solid $color-royalblue;

  .navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .arrow-disabled {
    pointer-events: none;
    color: rgba($color-white, 0.8);
  }

  .utils-container {
    display: inline-flex;
    align-items: center;
  }

  .search-box-container {
    border-radius: 15px;
    margin: 0px 5px;
  }

  .arrow-back-container {
    display: grid;
  }

  .util-icon {
    margin: 0px 5px;
  }

  mat-icon {
    cursor: pointer;
    color: $color-white;
  }
}

