
<div class="utils-navbar-main">
    <div class="navbar-inner">
        <div class="arrow-back-container">
            <!-- <ng-container *ngIf="!isDisabled; else disabledArrow">
                <mat-icon class="arrow-active" (click)="backToPreviousRoute()"> {{ 'arrow_back_ios' }} </mat-icon>
            </ng-container>
            
            <ng-template #disabledArrow>
                <mat-icon class="arrow-disabled"> {{ 'arrow_back_ios' }} </mat-icon>
            </ng-template> -->
        </div>
    </div>
</div>