@import './src/assets/config/colors.scss';
 
.primary-navbar-main {
    width: 100%;
    height: 65px;
    padding: 5px 20px;
    background-color: $color-primary;

    .navbar-inner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        color: $color-white;
    }

    .avatar-container {
        display: flex;
        align-items: center;
    }

    .img-container {
        width: 45px;
        height: 45px;
    }

    span {
        font-family: assistant-bold;
        line-height: 45px;
        padding: 0px 15px;
    }

    img {
        width: 100%;
        border-radius: 50%;
    }

    .icons-container {
        display: flex;
        margin: 0px -20px;

        mat-icon {
            margin: 0px 20px;
            cursor: pointer;
        }
    }
}

