@import './src/assets/config/definitions.scss';

.inputs-container-main {
  width: 100%;

  .inputs-placeholder {
    display: flex;
    margin: 0px -5px;

    @media screen and (max-width: $breakpoint-sm) {
      flex-direction: column;
    }
  }
}