
$color-error: #FF6060;
$color-success: #228B22;
$color-info: #1D72F3;
$color-warning: #FFC007;
$color-light-red: #FFBABA;
$color-dark-orange: #FF8C00;
$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #05ADE6;
$color-sky: #00AAE6;
$color-bright-sky: #6DE0EA;
$color-azure: #93F2EB;
$color-mouse: #555555;
$color-office: #7F7F7F;
$color-dark-gray: #626262;
$color-light-gray: #D3D3D3; 
$color-weak-gray: #D7D7D7;
$color-foggy: #F5F5F5;
$color-pearl: #F2F2F2;
$color-dark-sky: #002c6a;
$color-primary: #3f51b5;
$color-white-smoke: #F5F5F5;
$color-white-gray: #F1F1F1;


