
$color-base: #1E1E1E;
$color-mouse: #3C3C3C;
$color-office: #252526;
$color-foggy: #333333;
$color-white: #FFFFFF;
$color-black: #000000;
$color-error: #F44336;
$color-success: #228B22;
$color-info: #1D72F3;
$color-warning: #FFC007;