
@import './definitions';

%root-layout-top {
    position: fixed;
    width: $full-screen-width;
    z-index: 9999;
}

%root-layout-body {
    display: inline-flex;
    width: $full-screen-width;
    height: $full-screen-height;
}

%root-layout-inner-content {
    width: $full-screen-width;
}

%root-layout-sidebar-container {
    position: fixed;
    height: $full-screen-height;
    z-index: 9999;
}

%page-layout {
    display: table; 
}

%page-content {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

