@import './colors';
@import './definitions.scss';

mat-form-field {
  width: 100%;
}

.mat-dialog-content {
  padding: 0px !important;
  margin: 0px !important;
}

.mat-dialog-container { 
  padding: 0px !important;
}

.loader-modal {
  .mat-dialog-container { 
    box-shadow: none;
    background: transparent;
  }
}

.cdk-overlay-pane {
  @media screen and (max-width: $breakpoint-sm) {
    max-width: 90vw !important;
    width: 100%;
  }
}