
<!-- <page-layout [displayType]="'block'" [deployOnFullScreenHeight]="true" [deployOnFullScreenWidth]="true">
    <div class="descriptive-page-main">
        <div class="descriptive-description">
            <h1>Descriptive Statistics</h1>

            <p>
                In this type of statistics, the data is summarised through the given observations.<br>
                The summarisation is one from a sample of population using parameters such as the mean or standard deviation.
            </p>
    
            <p>
                Descriptive statistics is a way to organise, represent and describe a collection of data using tables, graphs, and summary measures.<br>For example, the collection of people in a city using the internet or using Television.
            </p>
    
            <p>
                Descriptive statistics are also categorised into four different categories:
            </p>
            
            <ul>
                <li>
                    <a>Measure of frequency</a> 
                </li>
                <li>
                    <a>Measure of dispersion</a> 
                </li>
                <li>
                    <a>Measure of central tendency</a> 
                </li>
                <li>
                    <a>Measure of position</a> 
                </li>
            </ul>    
        </div>
               
        <div class="sub-descriptive-statistics-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</page-layout> -->

<router-outlet></router-outlet>
